<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters(Integrated) in Mechanical Engineering</h1>
            <span>IIT Bombay</span>
            <span><address>Mumbai, India</address><time>2017 to Present</time></span>
        </header>
        <p>
            <em>Thesis: Formation Control for Purcell's swimmer</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Mechanical Engineering</h1>
            <span>IIT Bombay</span>
            <span><address>Mumbai, India</address><time>July 2013 to April 2017</time></span>
        </header>
        <p>
            <em>Thesis: Modelling and Control of a shape altering micro-swimmer</em>
        </p>
    </article>
</section>
