<section class="thirteen columns">
    <h1>Projects and Internships</h1>
    <article>
        <header>
            <h1>Co-ordination Control for a Swarm of Purcell's Swimmers</h1>
            <span><address>Masters thesis, @IIT Bombay, India</address><time>2017 to Present</time></span>
        </header>
        <p>Micro-swimming is an exciting new field of science wherein the primary focus of researchers
has been to understand the mechanisms exhibited by different kind of microorganisms
to aid in it’s swimming. The interest of the engineering community in studying
this kind of physics is to possibly emulate this in fabricating micro-robotic swimmers also
popularly called as micro-swimmers to realise many potential engineering and medicinal
applications. One of the future envisioned applications of micro-swimmers is to aid in
detecting and eliminating cancerous cells in the human body. To realise such a potential
application may require us to deploy one or more such micro-swimmers in the human
body navigating in co-ordination with each other. This co-ordination problem requires us
to not only have a thorough understanding about some fundamental concepts of microswimming
but also about this immense field of co-ordination control. In this report we
attempt to understand the various aspects of co-ordination or formation control, we later
try to emulate this co-ordination theories to solve a formation control problem involving
a bunch of Purcell’s Micro-swimmers.(<a target="_blank" href="http://your_url_here.html">Link</a>) 
    </article>
    <article>
        <header>
            <h1>Modelling and Control of Shape Altering Micro-Swimmer</h1>
            <span><address>Bachelor's thesis, @IIT Bombay, India</address><time>2016 to 2017</time></span>
        </header>
        <p>In this BTP work we propose a model for a micro-swimmer which moves using internal shape
changes of its surface to aid in its locomotion. We later go on to propose a control-affine model
for this micro-swimmer which exists in SE(2) space.But in order to answer the question as to
whether it is possible for this swimmer to reach each and every point in this SE(2) space is
later proved by our geometric controllability result. We finally conclude our work with proposing
motion primitive controls for our swimmer.(<a href="https://drive.google.com/file/d/0BzLuKSjMuuzoNDl0QUU0UzBsLWs/view?usp=sharing">here</a>) 
    </article>
    <article>
        <header>
            <h1>Trajectory tracking using motion primitives for the Purcell’s swimmer</h1>
            <span><address>@IIT Bombay, India</address><time>December 2016 to February 2016</time></span>
        </header>
        <p>This work involved around implementing the motion primitive controls proposed for a Purcells
swimmer. To implement this we fabricated a macro model for the Purcells swimmer which was
3D printed. We initially implemented motion primitive algorithm to move the swimmer in basis
direction i.e x,y,θ. The algorithm was later extended to track a certain predefined trajectory
using an open loop control system. This work of ours was submitted to IROS 2017 conference
and selected for an oral presentation. (<a href="https://arxiv.org/abs/1703.06731">here</a>)</p>
    </article>
    <article>
        <header>
            <h1>Dust Characterization of Keyboard Connector</h1>
            <span><address>Research Scholar, @University of Maryland, USA</address><time>May 2016 to July 2016</time></span>
        </header>
        <p>This work was a part of a 10-week internship as a visiting scholar at, CALCE lab University of
Maryland. CALCE lab in one of the few leading labs researching in life cycle engineering at the
University of Maryland. This work involved investigating failure of certain keyboard connectors
which were suspiciously reported to CALCE about its inability to work. This work involved
testing of keyboard connector to check its resistivity to confirm whether there has been a short
circuit. Finally we tested the dust particles actually present on the keyboard and scanning them
on SEM-EDX to check its size and their composition.</p>
    </article>
    <article>
        <header>
            <h1>Understanding and Implementing Reinforcement Learning Algorithms</h1>
            <span><address>Hobby Project, Mumbai, India</address><time>2016 to present</time></span>
        </header>
        <p>A self-exploratory project undertaken to understand the intricacies behind the theories of
Reinforcement learning and it’s implementation. It starts with implementing some basic
dynamic programming problems for motion and path planning and then ends with
implementing some popular algorithms in Reinforcement learning like the DQN and DDPG
algorithms.</p>
    </article>
    <article>
        <header>
            <h1>Systems Lead, Mars Society India</h1>
            <span><address>@IIT Bombay, India</address><time>2015 to present</time></span>
        </header>
        <p> Currently, leading a team of 8 people in the design and control of a mars rover with an attached
4 DOF robotic arm to participate in the International Competition, University Rover Challenge
under the ageis of International Mars Society. Competition rules currently mandate the rover
and robotic arms weight combined should be less than 50 Kg. We are currently pursuing a 4
wheeled, differential drive rover with a spring damper suspension system currently in place.
        </p>
    </article>
</section>
