<section class="thirteen columns">
    <h1>Course Projects</h1>
    <article>
        <header>
            <h1>Statistical v/s Neural Machine Translation</h1>
            <span><address>Course Project @IIT Bombay, India</address><time>July 2016 to December 2016</time></span>
        </header>
        <p>
            Trained the Neural Machine Translation model with embedded attention mechanism for
transliteration. Compared the alignments probabilities computed using Statistical Machine
Translation (SMT) and Neural Machine Translation.
        </p>
    </article>
    <article>
        <header>
            <h1>Character Recognition using Unsupervised SNNs</h1>
            <span><address>IIT Bombay, India/address><time>January 2015 to April 2015</time></span>
        </header>
        <p>
            Designed an unsupervised learning algorithm along with lateral inhibition using spiking neural
networks(SNNs) for digit recognition on MNIST database. The database achieved an accuracy
of 37%, which could be further improved by using genetic algorithms
        </p>
    </article>
     <article>
        <header>
            <h1>Using Vanishing Points for Camera Calibration</h1>
            <span><address>IIT Bombay, India/address><time>January 2015 to April 2015</time></span>
        </header>
        <p>
            Calibrated a standard camera using the geometric concepts behind mutually perpendicular
vanishing points. Achieved accuracy turned out to be low(0.001%) when compared with a
calibrated camera
        </p>
    </article>
</section>