<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>Other than my academic interests, I am an avid political observer. My political ideology is
center-left. I generally like to follow the political happening of the India, United States of
America and Europe. I believe that any minor political repercussions affects our daily life in a
major way and that is what excites me about politics.<br />
I am also an ardent Tennis follower. I have also completed an year’s course on Tennis under the
National Sports Organization(NSO) scheme(although i still can’t play very well).</p>
    </article>
</section>